.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  position: relative;


    .loginBox {
      width: 380px;
      left: 50%;
      top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;

      //transform: translate(-50%, -50%);

      color: #fff;
      h1 {
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        color: #fff;
      }
      p {
        text-align: center;
        margin: 20px 0;
      }
      .title {
        margin-bottom: 40px;
      }
      .captchaBox {
        display: inline-flex;
        width: 100%;
        height: 32px;
        justify-content: space-between;
        .captchaImg{
          margin-left: 20px;
          cursor: pointer;
        }
        canvas {
          margin-left: 10px;
          border-radius: 6px;
        }
      }
    }
    .quiz{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .radio {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .quizSpan{
      color: rgba(255,255,255,0.88);
      font-size: 25px;
      &.rightAnswer {
        color: #f03e3e;
      }
    }
    .quizNumber{
      font-size: 20px;
    }
    .quizAsk{
      font-weight: normal;
      font-size: 25px;
    }

    .betweenBox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .quizNameNumber{
      color: #adb5bd;
    }

    .quizName {
      font-size: 21px;
      margin-right: 210px;
      color: #adb5bd;
    }

    .settingIcon{
      font-size: 30px;
    }


}