.quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quizSpan{
  color: rgba(255,255,255,0.88);
  font-size: 25px;
  &.rightAnswer {
    color: red;
  }
}
.quizSpanSmall{
  color: rgba(255,255,255,0.88);
  font-size: 18px;
  &.rightAnswer {
    color: red;
  }
}

.quizSpanMeduim{
  color: rgba(255,255,255,0.88);
  font-size: 21px;
  &.rightAnswer {
    color: red;
  }
}
.quizNumber{
  font-size: 20px;
  margin-left: 8px;
}
.quizAsk{
  font-weight: normal;
  font-size: 25px;
}