@import "@/assets/styles/global.scss";

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 50%;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quizSpan {
  color: $text_color;
  font-size: 2.4rem;
  &.rightAnswer {
    color: $right_answer;
  }
}
.quizSpanSmall {
  color: $text_color;
  font-size: 1.8rem;
  &.rightAnswer {
    color: $right_answer;
  }
}

.quizSpanMeduim {
  color: $text_color;
  font-size: 2rem;
  &.rightAnswer {
    color: $right_answer;
  }
}
.quizNumber {
  font-size: 2rem;
  color: $text_dark_color;
}

.quizLife {
  font-size: 2rem;
  font-weight: 700;
  color: $text_dark_color;
}

.quizLifeIcon {
  font-size: 2rem;
}

.quizTitle {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  margin-bottom: 2rem;
}

.SingleQuizRadioSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  gap: 16px;
}

.SingleQuizRadioMedium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  gap: 8px;
}

.SingleQuizRadioLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.setting {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(100%, -40%);
  transition: all 0.5s ease-in;
  border-radius: 10px;
  opacity: 0;
  /*2.禁用tab到导航栏*/
  pointer-events: none;
  /*3.通知screen readers*/
  visibility: hidden;
  backdrop-filter: blur(9px);
  background-color: $setting_box_bg_color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingOpen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.nextBtn {
  background-color: $next_btn_color;
  height: 60px;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  width: 80% !important;
  align-self: center;
  &:hover {
    background-color: $next_btn_hover_color !important;
  }
  &:focus {
    background-color: $next_btn_color !important;
  }
}

.answerBtn {
  background-color: $answer_btn_color;
  height: 60px;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  width: 80% !important;
  &:hover {
    background-color: $answer_btn_hover_color !important;
  }
}

.settingBtn {
  background-color: $setting_btn_color;
  height: 60px;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 2.4rem;

  &:hover {
    background-color: $setting_btn_hover_color !important;
  }
}
