* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
    background-color: #7950f2;
    // 禁用文字选中
    user-select: none;
}


img{
    //禁止拖动图片
    -webkit-user-drag: none;
}

//首页的布局样式
.demo-logo-vertical{
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}